.register {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(src/assets/login_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.register .register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register .register-wrapper .register-header {
  color: #FFF;
  padding: 60px 0 30px;
}
.register .register-wrapper .register-header .register-title {
  font-size: 36px;
  text-align: center;
}
.register .register-wrapper .register-header .register-description {
  font-size: 18px;
  text-align: center;
}
.register .register-wrapper .register-content {
  width: 400px;
  background-color: #FFFFFF;
  padding: 16px 30px;
  min-height: 400px;
  position: relative;
}
.register .register-wrapper .register-content .register-form {
  overflow: hidden;
}
.register .register-wrapper .register-content .register-form .register-form-button {
  width: 100%;
  height: 36px;
}
.register .register-wrapper .register-content .register-form .field {
  margin-top: 12px;
}
.register .register-wrapper .register-content .register-form .register-input-captcha {
  width: 67%;
}
.register .register-wrapper .register-content .register-form .register-captcha {
  width: 30%;
  float: right;
  height: 40px;
  cursor: pointer;
}
.register .register-wrapper .register-content .register-form .register-captcha img {
  width: 100%;
  height: 100%;
}
.register .register-wrapper .register-content .register-form .register-captcha-btn {
  height: 40px;
  float: right;
}
.register .register-wrapper .register-content .register-form .register-form-label {
  margin-top: 14px;
  font-size: 16px;
  color: #282828;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register .register-wrapper .register-content .register-form .register-form-label .register-form-label-title {
  font-weight: 700;
}
.register .register-wrapper .register-content .register-form .register-form-label .register-form-label-extra {
  font-size: 14px;
}
.register .register-wrapper .register-content .register-form .register-info {
  color: #999999;
  font-size: 12px;
  margin-bottom: 26.5px;
}
.register .register-wrapper .register-content .register-form .register-info .register-qrcode {
  height: 290px;
  overflow: hidden;
}
.register .register-wrapper .register-content .register-form .register-info .register-qrcode img {
  width: 216px;
  margin-top: 15px;
}
.register .register-wrapper .register-content .register-form .register-info .register-qrcode-desc {
  width: 210px;
  margin: 0 auto;
}
