.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-personal {
  margin-right: 20px;
  cursor: pointer;
}
.header-container .header-personal .header-dropdown {
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .header-personal .header-dropdown .header-name {
  margin-left: 8px;
  min-width: 60px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header-menu-icon {
  margin-right: 8px;
}
